body,
html {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}

.App {
  background-image: url("../src/utilities/image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigate {
  background-color: #05444c !important;
}

.navOptions .navOptions {
  color: #536a7a !important;
}

.landingPage {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
  background-repeat: no-repeat;
}

.fontTitle {
  font-family: sans-serif;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
