body,
html {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}

.optionsLandingPage span {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  background-image: linear-gradient(
      rgba(78, 61, 61, 0.52),
      rgba(68, 59, 59, 0.78)
    ),
    url(/static/media/image.17246cb7.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigate {
  background-color: #05444c !important;
}

.navOptions .navOptions {
  color: #536a7a !important;
}

.landingPage {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
  background-repeat: no-repeat;
}

.optionsLandingPage nav {
  position: absolute;
  vertical-align: midde;
  display: block;
  top: 50%;
  left: 40%;
}
.optionsLandingPage {
  height: inherit;
  width: 100vw;
}
.optionsLandingPage nav ul {
  list-style-type: none;
  display: inline-flex;
}
.optionsLandingPage nav ul li {
  color: #a7a7a7 !important;
  border: 2px solid rgba(243, 243, 243, 0.66);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  /* background-color: #00000052; */
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.fontTitle {
  font-family: sans-serif;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
